<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weilin.myapplication" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to write to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MovieNut"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="MovieNut" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecommendSimilarMovie"
            android:label="Click one out of the same title">
        </activity>
        <activity
            android:name=".RecommendMoviesByDirectorAuthor">
        </activity>
        <activity
            android:name=".RecommendMovieByActor">
        </activity>
        <activity
            android:name=".RecommendMoviesInCollection" >
        </activity>
        <activity
            android:name=".RecommendMoviesByCompany"
            android:label="Click one out of the same company">
        </activity>
        <activity
            android:name=".DisplayResults"
            android:label="Movie Result" >
        </activity>
    </application>

</manifest>
